 <nav class="navbar navbar-expand-sm bg-standard navbar-white  fixed-top">
               <div class="container-fluid" style="height:100px;">
              <ul class="navbar-nav">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </ul>
            </div>
          </nav>
<div class=" img-fluid" style="grid-auto-flow: ;">
        <img class="card-img" src="https://th.bing.com/th/id/R.05785b9425845d6388088855bc0b9eb5?rik=Ww661cd23KtrOg&riu=http%3a%2f%2fwallpaperheart.com%2fwp-content%2fuploads%2f2018%2f08%2fbest-wallpapers-for-pc-4.jpg&ehk=1Y5%2bWahOm4WUShhmz%2fA2sN2ttYDUwicd4E7VugVNLtw%3d&risl=&pid=ImgRaw&r=0">  

        <div class="card-img-overlay"><br><br><br><br><br>	
          <h4 class="card-title text-light">
            <div class="d-flex justify-content-center ">
            <div class="card-rounded" style="width:500px;">
<div class="row">
    <div class="col">
        </div>
    <form class="form-control" action="/postUrl" method="post">
                {{!-- <div class="col-xl"><br><br> --}}
               <center> <h1 class="card-title">Webpage scraper</h1></center>
               
                <div class="mb-3 mt-3">
                   <label for="uname" class="form-label"></label>
                     <input type="text" class="form-control" id="cname" placeholder="Enter Website url" name="urlField">
                     <br><br>
                   <center> <button type="submit" class="btn btn-outline-dark">GET INSIGTS</button></center> 
                   </div></div></form></div>
            </div>
            </form>
         
     